/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/*
/test_app/*
/spec/dummy/tmp/*
spec/dummy/log/test.log
spec/dummy/db/test.sqlite3
spec/dummy/db/development.sqlite3
spec/dummy/log/development.log
spec/dummy/public/uploads/rails_admin_featured_content/*
spec/dummy/public/uploads/tmp/*
*.gem
